services:
  mall:
    container_name: mall
    hostname: mall
    image: mall-monolith
    build:
      context: .
      dockerfile: Dockerfile
      args:
        tag: debug
    ports:
      - '8080:8080'
      - '9090:9090'
    env_file:
      - .env
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/mall-monolith"]
    profiles:
      - monolith
  
  baskets:
    container_name: baskets
    hostname: baskets
    image: mall-baskets
    build:
      context: .
      dockerfile: baskets/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090
      PG_CONN: postgres://basketsdb_user:basketsdb_pass@postgres:5432/basketsdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: baskets
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/baskets-service"]
    profiles:
      - microservices
  
  cosec:
    container_name: cosec
    hostname: cosec
    image: mall-cosec
    build:
      context: .
      dockerfile: cosec/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090
      PG_CONN: postgres://cosecdb_user:cosecdb_pass@postgres:5432/cosecdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: cosec
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/cosec-service"]
    profiles:
      - microservices
  
  customers:
    container_name: customers
    hostname: customers
    image: mall-customers
    build:
      context: .
      dockerfile: customers/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090 
      PG_CONN: postgres://customersdb_user:customersdb_pass@postgres:5432/customersdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: customers
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/customers-service"]
    profiles:
      - microservices

  depot:
    container_name: depot
    hostname: depot
    image: mall-depot
    build:
      context: .
      dockerfile: depot/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090
      PG_CONN: postgres://depotdb_user:depotdb_pass@postgres:5432/depotdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: depot
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/depot-service"]
    profiles:
      - microservices

  notifications:
    container_name: notifications
    hostname: notifications
    image: mall-notifications
    build:
      context: .
      dockerfile: notifications/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090
      PG_CONN: postgres://notificationsdb_user:notificationsdb_pass@postgres:5432/notificationsdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: notifications
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/notifications-service"]
    profiles:
      - microservices

  ordering:
    container_name: ordering
    hostname: ordering
    image: mall-ordering
    build:
      context: .
      dockerfile: ordering/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090
      PG_CONN: postgres://orderingdb_user:orderingdb_pass@postgres:5432/orderingdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: ordering
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/ordering-service"]
    profiles:
      - microservices

  payments:
    container_name: payments
    hostname: payments
    image: mall-payments
    build:
      context: .
      dockerfile: payments/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090
      PG_CONN: postgres://paymentsdb_user:paymentsdb_pass@postgres:5432/paymentsdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: payments
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/payments-service"]
    profiles:
      - microservices

  stores:
    container_name: stores
    hostname: stores
    image: mall-stores
    build:
      context: .
      dockerfile: stores/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090
      PG_CONN: postgres://storesdb_user:storesdb_pass@postgres:5432/storesdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: stores
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/stores-service"]
    profiles:
      - microservices

  search:
    container_name: search
    hostname: search
    image: mall-search
    build:
      context: .
      dockerfile: search/Dockerfile
      args:
        tag: debug
    expose:
      - '8080'
      - '9090'
    environment:
      ENVIRONMENT: development
      RPC_SERVICE: STORES=stores:9090,CUSTOMERS=customers:9090
      PG_CONN: postgres://searchdb_user:searchdb_pass@postgres:5432/searchdb?sslmode=disable
      NATS_URL: nats://nats_user:nats_pass@nats:4222
      OTEL_SERVICE_NAME: search
      CH_HOST: clickhouse
      CH_PORT: "9000"
      CH_DB: oteldb
      CH_USER: oteldb_user
      CH_PASS: oteldb_pass
    depends_on:
      - nats
      - postgres
      - clickhouse
    command: ["./wait-for.sh", "postgres:5432", "--", "/app/search-service"]
    profiles:
      - microservices

  haproxy:
    container_name: haproxy
    hostname: haproxy
    image: haproxy:alpine
    ports:
      - '8080:8080'
    volumes:
     - './haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg'
     - './scripts/wait-for.sh:/wait-for.sh'
    command: ["/wait-for.sh", "postgres:5432", "--", "haproxy", "-f", "/usr/local/etc/haproxy/haproxy.cfg"]
    profiles:
      - microservices

  nats:
    container_name: nats
    hostname: nats
    image: nats:alpine
    ports:
      - '4222:4222'
    command:
      - -js
      - -sd
      - /var/lib/nats/data
      - --user
      - nats_user
      - --pass
      - nats_pass
    volumes:
      - 'jsdata:/var/lib/nats/data'

  postgres:
    container_name: postgres
    hostname: postgres
    image: postgres:alpine
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - 'pgdata:/var/lib/postgresql/data'
      - './scripts/postgresql:/docker-entrypoint-initdb.d'
      - './scripts/wait-for.sh:/wait-for.sh'
    command: ["/wait-for.sh", "clickhouse:9000", "--", "docker-entrypoint.sh", "postgres"]
  
  clickhouse:
    container_name: clickhouse
    hostname: clickhouse
    image: clickhouse/clickhouse-server:latest-alpine
    environment:
      CLICKHOUSE_PASSWORD: clickhouse
    ports:
      - '8123:8123'
      - '9000:9000'
    volumes:
      - 'chdata:/var/lib/clickhouse'
      - './users.xml:/etc/clickhouse-server/users.d/users.xml'
      - './scripts/clickhouse:/docker-entrypoint-initdb.d'

  hyperdx:
    container_name: hyperdx
    hostname: hyperdx
    image: hyperdx/hyperdx-local:2-nightly-ui
    ports:
      - '8888:8080'
  
volumes:
  jsdata:
  pgdata:
  chdata: